.about {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titleAboutMe {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}
.titleAboutMe > h1 {
  font-weight: 300;
}
.titleAboutMe > img {
  width: 12vw;
  height: 12vw;

}

.titleAbout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 25vh;
  color: white;
}


.titleAbout > p {
  text-align: center;
  font-size: 20px;
  width: 50vw;
  line-height: 1.5;
  padding-left: 10px;
}
.personaSkills {
  display: grid;
  grid-template-columns: 700px 700px;

  place-content: center;
}
.softSkills {
  display: flex;
  flex-direction: column;
}
.softSkills > h1 {
  text-align: center;
}
.softSkills > h2 {
  margin: 0px;
  padding: 10px 0px 10px 80px;

  font-size: 22px;
  color: white;
}
.softSkills > p {
  margin: 0px;
  font-size: 18px;
  padding-left: 80px;
  color: white;
}
.softSkills > h1,
.tecnology > h1 {
  margin: 0px;
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;

  background: linear-gradient(
    to left,
    #71717a 20%,
    #b3b3b3 40%,
    #f2f2f2 60%,
    #71717a 80%
  );
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 2s linear infinite;
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
}

.tecnology {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.tecnology > h1 {
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;

  color: white;
}
.skills {
  display: flex;
}
.skills > svg{

  padding-top: 30px;
  padding-right: 20px;
  width: 70px;
  height: 70px;
  color: #ffffff;
  transition: color 0.5s;
}
.skillsLow > svg {
  padding-top: 30px;
  padding-right: 20px;
  width: 70px;
  height: 70px;
  color: #ffffff;
  transition: color 0.5s;
}

.html:hover {
  color: #e34f26;
}

.css:hover {
  color: #0095ff;
}

.js:hover {
  color: #f7df1e;
}

.react:hover {
  color: #61dafb;
}

.mongo:hover {
  color: #47a248;
}

.node:hover {
  color: #339933;
}

.python:hover {
  color: #3776ab;
}
