@keyframes shine {
  to {
    background-position: 200% center;
  }
}


.titleHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40vh;

  text-transform: uppercase;
  color: white;
}
.titleHome > h1 {
  width: 660px;
  font-weight: 400;
  font-size: 30px;
  margin: 0px;
}
.titleHome > h2 {
  font-weight: 500;
  font-size: 50px;
  margin: 0px;
}
.titleHome > h3 {
  font-weight: 400;
  font-size: 30px;
  text-align: center;

  width: 34vw;
  margin: 0px;
}
.titleHome > h2 > strong,
.titleHome > h3 > strong {
  font-weight: 500;
  text-transform: uppercase;

  background: linear-gradient(
    to left,
    #71717a 20%,
    #b3b3b3 40%,
    #f2f2f2 60%,
    #71717a 80%
  );
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 2s linear infinite;
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
}
article {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projectHome {
  width: 40vw;
  height: 42vh;
}
.projectHome > h1 {
  font-weight: 500;
  font-size: 30px;
  margin: 0px;
  color: white;
}

.projectHome > a > img {
  width: 790px;
  height: 400px;
  border-radius: 2px;

  --c: #a1a1a1;
  --b: 1px; 
  --g: 2px; 

  padding: calc(var(--g) + var(--b));
  --_g: #0000 25%, var(--c) 0;
  background: conic-gradient(
        from 180deg at top var(--b) right var(--b),
        var(--_g)
      )
      var(--_i, 200%) 0 /200% var(--_i, var(--b)) no-repeat,
    conic-gradient(at bottom var(--b) left var(--b), var(--_g)) 0
      var(--_i, 200%) / var(--_i, var(--b)) 200% no-repeat;
  transition: 0.3s, background-position 0.3s 0.3s;
  cursor: pointer;
}

.projectHome > a > img:hover {
  --_i: 100%;
  transition: 0.3s, background-size 0.3s 0.3s;
}
