.navbar {
  padding: 0px;
  margin: 0px;
  background-color: #000000;
  height: 100vh;
  width: 70px;
  position: fixed;
  top: 0;
  left: 0;
  display: inline-flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-right: 1px solid rgba(48, 48, 48, 0.486);
  z-index: 1000;
}

.navLogo > img {
  width: 60px;
  height: 60px;
  padding: 10px;
}

ul {
  padding: 0px;
}

li {
  text-decoration: none;
  list-style: none;
}

.navLinks a,
.navLinksSocial a {
  color: rgb(126, 126, 126);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.navLinks a:hover,
.navLinksSocial a:hover {
  color: rgb(255, 255, 255);
}

.navLinks a > svg,
.navLinksSocial a > svg {
  width: 20px;
  height: 20px;
  padding: 20px;
}

.tooltip {
  position: absolute;
  left: 70px;
  background-color: #272727;
  color: #fff;
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 14px;
  border: 1px solid rgba(255, 255, 255, 0.308);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 10;
}

.navLinks a:hover .tooltip,
.navLinksSocial a:hover .tooltip {
  opacity: 1;
}
